extends layout

block content
  h1= title
  p Welcome to #{title}

  p Nome: #{beer.name} 
  p Preço: #{beer.price}
  p Categoria: #{beer.category}
  p Descrição: #{beer.description}
  p Alcool: #{beer.alcohol}